node_modules/
package-lock.json
logo-sem-fundo.png
remove-bg.js
make-logo.js
*.jpeg
*.jpg
!logo-oficial.jpeg
!img1.jpeg
!img2.jpeg
!img3.jpeg
!img4.jpeg
!img5.jpeg
!img6.jpeg
!img7.jpeg
!img8.jpeg
!img9.jpeg
!WhatsApp Image 2026-05-27 at 11.01.45.jpeg
!WhatsApp Image 2026-05-28 at 08.24.53.jpeg
!WhatsApp Image 2026-05-28 at 08.24.53 (1).jpeg
!WhatsApp Image 2026-05-28 at 08.24.53 (2).jpeg
!WhatsApp Image 2026-05-28 at 08.24.53 (3).jpeg
!WhatsApp Image 2026-05-28 at 08.24.54.jpeg
!WhatsApp Image 2026-05-28 at 08.24.54 (1).jpeg
!WhatsApp Image 2026-05-28 at 08.24.54 (2).jpeg
!WhatsApp Image 2026-05-28 at 08.24.55.jpeg
!WhatsApp Image 2026-05-28 at 08.24.55 (1).jpeg
!WhatsApp Image 2026-05-28 at 08.24.56.jpeg
!foto-inicial.jpeg
!WhatsApp Image 2026-05-31 at 19.23.47.jpeg
!WhatsApp Image 2026-05-31 at 19.23.47 (1).jpeg
!WhatsApp Image 2026-05-31 at 19.23.47 (2).jpeg

.vercel
